.skills-section{
  padding-top:40px;
  text-align: center;
  color: #000;
}

.skills-section h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card{
  background-color: #f4f4f4;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.skill-card:hover{
  transform: translateY(-5px);
}