.skills-section{
  margin-top: -20px;
  text-align: center;
  color: #020000;
}

.skills-section h2{
  font-size: 2rem;
  
  
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card{
  background-color: #f4f4f4;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.skill-card:hover{
  transform: translateY(-5px);
}


@media (max-width: 768px) {
  .skills-section {
    padding: 30px 20px;
  }

  #skills {
    font-size: 24px;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on mobile */
    gap: 15px;
  }

  .skill-card {
    padding: 15px;
  }

  .icon {
    font-size: 30px;
  }

  .skill-card p {
    font-size: 14px;
  }
}
